.root {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 40px;
  overflow: auto;
}

.desc {
  margin-top: 16px;
  width: 600px;
}

.game {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.scoreboard {
  text-align: center;
  padding-bottom: 20px;
  font-size: 24px;
}

.board-wrapper {
  flex: 1;
  margin: 20px;
  position: relative;
}

.board {
  position: absolute;
}

.box,
.line,
.dot {
  position: absolute;
}

.line {
  background-clip: padding-box;
  background-color: #fff;
  border-color: transparent;
  border-style: solid;
}

.line-interactive:hover {
  background-color: #5a5668;
  cursor: pointer;
}

.line-selected {
  background-color: #000;
}

.line-horiz {
  height: 4px;
  border-width: 16px 0;
  margin: -18px 0 0 -2px;
}

.line-vert {
  width: 4px;
  border-width: 0 16px;
  margin: -2px 0 0 -18px;
}

.dot {
  background-color: #5a5668;
  width: 12px;
  height: 12px;
  border-radius: 12px;
  margin: -6px 0 0 -6px;
}

.player_one {
  background-color: #c1ddda;
}

.player_two {
  background-color: #facaba;
}
