.root {
  position: fixed;
  top: 40px;
  left: 40px;
  bottom: 40px;
  right: 40px;
}

.game {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.scoreboard {
  text-align: center;
  padding-bottom: 20px;
  font-size: 24px;
}

.board {
  flex: 1;
  position: relative;
}

.box,
.line,
.dot {
  position: absolute;
}

.line {
  background-color: #ddd;
  margin: -5px 0 0 -5px;
}

.line-interactive:hover {
  background-color: #666;
  cursor: pointer;
}

.line-selected {
  background-color: #000;
}

.line-horiz {
  height: 10px;
}

.line-vert {
  width: 10px;
}

.dot {
  background-color: #000;
  width: 16px;
  height: 16px;
  border-radius: 16px;
  margin: -8px 0 0 -8px;
}

.player_one {
  background-color: green;
}

.player_two {
  background-color: red;
}
