.root {
  position: fixed;
  top: 40px;
  left: 40px;
  bottom: 40px;
  right: 40px;
}

.game {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.scoreboard {
  text-align: center;
  padding-bottom: 20px;
  font-size: 24px;
}

.board {
  flex: 1;
  margin: 50px;
  position: relative;
}

.box,
.line,
.dot {
  position: absolute;
}

.line {
  background-clip: padding-box;
  background-color: #fff;
  border-color: transparent;
  border-style: solid;
}

.line-interactive:hover {
  background-color: #5a5668;
  cursor: pointer;
}

.line-selected {
  background-color: #000;
}

.line-horiz {
  height: 6px;
  border-width: 16px 0;
  margin: -19px 0 0 -3px;
}

.line-vert {
  width: 6px;
  border-width: 0 16px;
  margin: -3px 0 0 -19px;
}

.dot {
  background-color: #5a5668;
  width: 14px;
  height: 14px;
  border-radius: 14px;
  margin: -7px 0 0 -7px;
}

.player_one {
  background-color: #c1ddda;
}

.player_two {
  background-color: #facaba;
}
